/* body{
    background-color: yellow;
} */
p{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}
.colors{
    display: flex;
    justify-content: center;
}
.grycolor, .redcolor, .bluecolor, .yllwcolor{
    width: 70px;
    height: 70px;
    border: 1.5px solid black;
    border-radius: 50%;
}

.grycolor{
    background-color: gray;
}
.redcolor{
    background-color: red;
}
.bluecolor{
    background-color: blue;
}
.yllwcolor{
    background-color: yellow;
}